.commoditiesContainerDiv {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  grid-gap: 10px;
  justify-items: stretch;
  align-items: start;
  background-color: rgb(25, 184, 184);
}

.form-control {
  max-width: 40%;
  justify-content: center;
  margin-left: 30%;
  margin-top: 5px;
}
