.commoditiesContainerDiv {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    grid-gap: 10px;
    justify-items: stretch;
    align-items: start;
    /* border: 5px solid blue; */
  }

  .form-control {
    max-width: 40%;
    justify-content: center;
    margin-left: 30%;
    margin-top: 5px;
    /* margin-right: 200px; */
  }
  