.card-body {
  height: 200px;
  padding: 0;
  background-color: rgb(26, 135, 135);
  color: bisque;
  border-radius: 15px;
}

.cardTitle {
  margin: 0;
  padding: 0;
  height: 50px;
  background-color: rgb(26, 135, 135);
  color: bisque;
}

.list-group-item {
  height: 160px;
  background-color: rgb(91, 158, 158);
}

.div-line {
  background-color: transparent;
}

.cardDiv {
  height: 85px;
  background-color: rgb(26, 135, 135);
  color: aqua;
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(26, 135, 135);
}
